/**** Edit User CheckBox ****/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  z-index: 2;
  content: "";
  height: 18px;
  width: 18px;
  background-color: darkslategrey;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  -webkit-transition: .4s;
  transition: all 0.4s ease-in-out;
  margin-top: 1px;
  margin-left: 1px;
}

.slider:after {
  position: absolute;
  left: 0;
  z-index: 1;
  content: "YES";
  font-size: 12px;
  text-align: left !important;
  padding-left: 0;
  width: 50px;
  color: #fff;
  height: 20px;
  border-radius: 100px;
  background-color: #ff6418;
  -webkit-transform: translateX(-32px);
  -ms-transform: translateX(-32px);
  transform: translateX(-30px);
  transition: all 0.4s ease-in-out;
  line-height: 20px;
}

input:checked+.slider:after {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  /*width: 235px;*/
  padding-left: 5px;
}

input:checked+.slider:before {
  background-color: #fff;
}

input:checked+.slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
  margin-top: 1px;
  margin-left: -1px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 100px;
}

.slider.round:before {
  border-radius: 50%;
}

.absolute-no {
  position: absolute;
  left: 0;
  color: darkslategrey;
  text-align: right !important;
  font-size: 12px;
  width: calc(100% - 5px);
  height: 20px;
  cursor: pointer;
  line-height: 20px;
}

/**** End Edit User CheckBox ****/

#atras {
  color: black;
}

/**** No Rows Input Number ****/
.no-controls::-webkit-outer-spin-button,
.no-controls::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-controls {
  -moz-appearance: textfield;
}

/**** End No Rows Input Number ****/

/**** Edit User Error Message ****/
.mensajeErrores {
  color: red;
}

/**** End Edit User Error Message ****/

/**** Change Picture Style****/
#botonAnadir {
  color: black;
}

#imagenPersonal {
  width: 50vh;
  height: 50vh;
}

#cambiarImagen {
  position: absolute;
  margin: auto;
}

#divImagenUsuario {
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  width: 50vh;
  height: 50vh;
  overflow: hidden;
  margin: 0 15px 15px 0;
}

.divOculto {
  border-radius: 50%;
  display: none;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 10;
  background: rgba(128, 128, 128, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000);
  width: 100%;
  color: #FFF;
  padding: 10px;
}

.divOculto h3 {
  padding-top: 45%;
  padding-left: 17%;
}

#divImagenUsuario :hover .divOculto {
  display: block;
}

/**** End Change Picture Style****/

/** Collapse **/
.collapsibleCollapse {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsibleCollapse:hover {
  background-color: #555;
}

.collapsibleCollapse:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.contentCollapse {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
/** End Collapse **/

#tablaAnadir tr th{
  text-align: left;
}
.grande {
  font-size: 20px;
}