body{
    height: 100vh;
}
#info,
#email,
#instagram,
#twitter,
#facebook,
#phone {
    color: white;
    font-family: "Catamaran", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#email:hover {
    color: gray;
}

#instagram:hover {
    color: rgb(190, 75, 219);
}

#twitter:hover {
    color: rgb(29, 161, 242);
}

#facebook:hover {
    color: rgb(64, 100, 172);
}

#phone:hover {
    color: rgb(74, 198, 88);
}